#logoorlidev {
  margin-left: 50%;
}

.nav{
  width: 100%;
  display: flex;
  gap: 2rem;
  /* justify-content: space-between; */
  background-color: #f14d0cee;
  padding: -2rem;
  box-shadow: 10px;
  z-index: 10;
  align-items: center;
}
.navegacion{
  margin-left: 100px;
  font-size:20px;
  display: flex;
  width: fit-content;
  text-shadow: rgb(91, 222, 240) 0.1em 0.1em 0.05em;
}

.pagtitle{
  margin-left: 10px;
  font-size: 22px;
  height: fit-content;
  padding: 0.9rem;
  
}

.imgNavClass{
  border-radius: 6rem;
  margin-right: 5rem;
  width: 100px;
  height: 100px;
}

.logoClass{
  margin-top: 10px;
  color: rgb(40, 50, 184);
  width: 100px;
  text-shadow: rgb(91, 147, 173) 0.1em 0.1em 0.05em;
}
.logo:hover{
  text-decoration: none;
  text-shadow: 0 0 5px rgb(115, 212, 236);
  color: #101c5e;
}
.linkNav{
  padding: 0 2rem;
}

.link{
  color: rgb(186, 223, 21);
}
.link:hover{
  text-decoration: none;
  text-shadow: 0 0 5px white;
  color: #4666f5;
}
.linkactive{
  font-size:large;
  text-shadow: 0 0 5px rgb(241, 103, 10);
  text-shadow: rgb(252, 240, 133) 0.1em 0.1em 0.05em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 13rem; */
  color:rgb(224, 217, 148);
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 8rem;
  background-image: linear-gradient(#172ce2, #c2e984),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
}

.strong {
  z-index: 2;
  font-family: 'Consolas' sans-serif;
  font-size: 22px;
  letter-spacing: 3px;
  color: #1ca2f0;
}

.button:hover {
  transform: scale(1.1)
}

@media (max-width: 875px){
  .pagtitle{
    display: none;
  }
}

@media (max-width: 560px){
  .home{
    display: none;
  }
  .navegacion{
    width: fit-content;
  }
}

@media (max-width: 560px) {
  .logoClass {
    display: none;
  }
}

@media (max-width: 768px) {
  #logoorlidev {
    margin-left: 0;
  }

  .nav {
    flex-direction: column;
    padding: 0;
  }

  .navegacion {
    margin-left: 0;
    width: 100%;
    justify-content: space-between;
  }

  .pagtitle {
    display: none;
  }

  .imgNavClass {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 576px) {
  .home {
    display: none;
  }

  .navegacion {
    width: 100%;
    justify-content: space-between;
  }

  .imgNavClass {
    width: 30px;
    height: 30px;
  }

  .logoClass {
    display: none;
  }
}

