#logoorlidev {
  margin-left: 30px;
}

.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color: #9051ca8e; */
  padding: 0.3rem;
  /* position: fixed; */
  z-index: 10;
  align-items: center;
}
.navegacion{
  margin-left: 180px;
  font-size:large;
  display: flex;
  justify-content:space-around;
  width: fit-content;
  text-shadow: rgb(224, 217, 148) 0.1em 0.1em 0.05em;
}

.pagtitle{
  margin-left: 10px;
  font-size:20px;
  height: fit-content;
  padding: 0.2rem;
  
}


.imgNavClass{
  border-radius: 0.8rem;
  margin-right: 0.5rem;
  width: 2px;
  height: 2px;
}

.logoClass{
  margin-top: 5px;
  color: rgb(0, 0, 0);
  width: 100px;
  float: left; 
  /* text-shadow: rgb(30, 82, 107) 0.1em 0.1em 0.05em; */
}
.logo:hover{
  text-decoration: none;
  text-shadow: 0 0 5px rgb(160, 199, 209);
  color: #000000;
}
.linkNav{
  padding: 0 2rem;
}

.link{
  color: white;
}
.link:hover{
  text-decoration: none;
  text-shadow: 0 0 5px white;
  color: #000000;
}
.linkactive{
  font-size:large;
  text-shadow: 0 0 5px white;
  text-shadow: rgb(224, 217, 148) 0.1em 0.1em 0.05em;
}

@media (max-width: 875px){
  .pagtitle{
    display: none;
  }
}

@media (max-width: 560px){
  .home{
    display: none;
  }
  .navegacion{
    width: fit-content;
  }
}

@media (max-width: 560px) {
  .logoClass {
    display: none;
  }
}
