.searchBar{
    width: 27rem;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
}

.input{
    background-color: #dceaee;
    border: none;
    font-family: 'Consolas' serif;
    border-radius: 2rem;
    margin-right: 0.3rem;
    padding: 0.3rem 0.5rem;
    line-height: 1.1rem;
    width: 15rem;
    font-size: 1rem;
    transition: all 0.3s ease-out;
}
.input:hover{
    width: 15rem;
    
}
.input:focus{
    outline:none;
}
input::placeholder{
    color: #170644;
}
.inputdisabled{
    background-color: #7cc9e0;
    cursor: not-allowed;
    width: inherit;
}
.inputdisabled:hover{
    width: inherit;
}


.btn{
    /* background-color: rgb(152, 216, 208); */
    font-weight: bold;
    /* border: 1px solid #e6bda5; */
    border-radius: 1rem;
    outline: none;
    padding: 0.1rem 0.3rem;
}
/* .btn:hover{
    background-color: rgb(93, 219, 244);
    color:rgb(77, 95, 134)        
} */

.btn:focus{
    outline: none;
}
.btndisabled{
    background-color: #16096165;
}
.btndisabled:hover{
    box-shadow: none;
    transform: none;
    cursor:not-allowed;
}

@media (max-width: 675px){
    .input:hover{
        width: 9rem;
    }
}

@media (max-width: 432px){
  .input{
    width: 5rem;
  }
  .input:hover{
    width: 5rem;
  }
}


