.searchBar {
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-end;
    align-items: center;
    width: 27rem;
    border-radius: 10px;
  }
  
  .input {
    background-color: #dceaee;
    border: none;
    font-family: 'Consolas' serif;
    border-radius: 2rem;
    /* margin-right: 0.3rem; */
    padding: 0.3rem 0.5rem;
    line-height: 1.1rem;
    width: 15rem;
    font-size: 1rem;
    transition: all 0.3s ease-out;
  }
  
  .btn {
    /* background-color: rgb(152, 216, 208); */
    font-weight: bold;
    /* border: 1px solid #e6bda5; */
    border-radius: 1rem;
    outline: none;
    padding: 0.1rem 0.3rem;
  }
  
  @media (max-width: 675px) {
    .searchBar {
      width: 100%;
      justify-content: center;
    }
  
    .input {
      width: 9rem;
      margin-right: 0;
    }
  
    .btn {
      width: 5rem;
    }
  }
  
  @media (max-width: 432px) {
    .input {
      width: 5rem;
    }
  
    .btn {
      width: 3rem;
    }
  }
  

